@import "../../static/theme";

.dropdown-container {
    display: flex;
    flex-direction: column;

    .field {
        font-size: 14px;
        color: #282828;
        margin-bottom: 3px;
    }

    select.dropdown {
        width: 100%;
        text-overflow: ellipsis;
        border: solid 1.15px #CCCCCC;
        border-radius: 5px;
        padding: 12px;
        color: #282828;
        font-size: 14px;
        outline: none;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.828' height='7.414' viewBox='0 0 12.828 7.414'%3E%3Cpath id='Icon_feather-chevron-down' data-name='Icon feather-chevron-down' d='M9,13.5l5,5,5-5' transform='translate(-7.586 -12.086)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");        background-position-y: 15px;
        background-position-x: calc(100% - 10px);
        background-repeat: no-repeat;


        &::placeholder {
            color: #707070;
        }

        &:focus {
            border: solid 1.15px #CCCCCC;
        }

        /* Phone */
        @media screen and (max-width: 424px) {
            font-size: 16px;
        }


        /* Tablet */
        @media screen and (max-width: 1025px) and (min-width: 768px) {
            font-size: 16px;
            padding: 15px;
            width: 100%;
        }

        /* Desktop */
        @media screen and (min-width: 1025px) {
            font-size: 14px;
        }

    }

    span.error-text {
        margin-top: 2px;
        font-size: 12px;
        color: #ff3b30;
        transition: 300ms ease-in-out;
    }
}