@import '../../static/theme';

main.settings-page {
    background: #fefefe;
    min-height: calc(100vh - 70px);

    .back-icon {
        margin-left: 16px;
        margin-top: 10px;
    }

    .navigation {
        position: fixed;
        left: 25px;
        width: 190px;
        display: flex;
        flex-direction: column;
        top: 130px;

        @media screen and (min-width: 1100px) {
            left: calc((100vw - 1100px) / 2)
        }

        // Phone
        @media screen and (max-width: 425px) {
            left: 16px;
            top: 100px;
            width: 100%;
        }

        .item {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .icon {
                margin-right: 25px;
                width: 27px;
                height: 27px;
                display: flex;
                align-items: center;

                svg {
                    width: 27px;
                    height: 27px;
                }
            }

            span.tab-name {
                font-size: 18px;
                color: rgba(#282828, 0.9);
            }

            &.active {
                path {
                    fill: $primary !important;
                }

                span.tab-name {
                    color: #282828;
                    font-weight: 500;
                }
            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        margin-left: 280px;
        padding-top: 25px;
        max-width: calc(1100px - 280px);

        @media screen and (min-width: 1100px) {
            margin-left: calc((100vw - 1100px) / 2 + 280px);
            margin-right: calc((100vw - 1100px) / 2);
        }

        .settings-loading {
            width: 90%;
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // Phone
        @media screen and (max-width: 1024px) {
            max-width: calc(100vw - 32px);
            width: calc(100% - 32px);
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .not-found {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        transform: translate(-50%, -50%);

        svg {
            width: 150px;
            height: 150px;
            margin-bottom: 15px;
        }

        span {
            font-size: 16px;
            color: rgba(#111111, 0.75);
        }
    }


}


main.account-page section.account {

    header {
        display: flex;
        align-items: center;

        .profile-image {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-right: 30px;
            background: #EAEAEA center;
            background-size: cover;

            input {
                cursor: pointer;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .icon-pick {
                width: 48px;
                height: 48px;
                position: absolute;
                bottom: 6px;
                right: 6px;
                background: $primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 4px solid #fefefe;

                svg {
                    height: 20px;

                }
            }
        }

        .info {
            h2 {
                font-size: 28px;
                color: #282828;
                font-weight: 600;
                margin-bottom: 5px;
            }

            span.location {
                font-size: 16px;
                color: #565656;
            }
        }
    }


    .edit {
        margin-top: 30px;
        max-width: 700px;
        display: flex;
        flex-direction: column;

        .gap {
            width: 90px;
        }

        .row {
            width: 100%;
            display: flex;

            &-gap {
                width: 20%;
            }
        }

        .confirm-button {
            margin-top: 25px;
            margin-bottom: 20px;
            width: 260px;
        }

        .calendar-wrapper {
            position: fixed;
            bottom: calc((100vh - 406px) / 2);
            left: calc((100vw - 310px) / 2);

            .calendar-container-disable {
                z-index: -100;
            }

            /* Tablet */
            @media screen and (max-width: 424px) {
                left: 15px;
                right: 15px;
            }
        }

        .text-field {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 425px) {

        header {
            flex-direction: column;
            justify-content: center;

            .profile-image {
                margin-right: 0;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .edit {
            .row {
                flex-direction: column;
            }

            .confirm-button {
                width: 100%;
            }
        }
    }
}

main.consultations-page {

    .settings-note-wrapper {
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(black, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;

        .note {
            position: relative;
            max-width: 75vw;
            min-width: 400px;
            background: white;
            border-radius: 10px;

            @media screen and (max-width: 425px) {
                max-width: 90vw;
                min-width: 75vw;
            }


            .header {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid rgba(#111111, 0.1);

                svg {
                    position: absolute;
                    top: 10px;
                    right: 10px;

                    path {
                        pointer-events: all;
                        cursor: pointer;
                        fill: #565656;
                    }
                }
            }

            .note-content {
                width: 100%;
                padding: 15px;
            }
        }

        &.disable {
            transform: scale(0);
        }
    }

    section.consultations {
        max-width: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 75px;
        grid-row-gap: 75px;

        @media screen and (max-width: 425px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 30px;
        }

        @media screen and (min-width: 425px) and (max-width: 1336px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .consultation-tile {
            min-width: 300px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 3px 15px rgba(#000000, 0.03);

            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                align-items: center;
                margin-bottom: 3px;

                .profile-pic {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 15px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .info {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 18px;
                        color: #282828;
                        font-weight: 500;
                    }

                    .subtitle {
                        font-size: 16px;
                        color: #707070;
                    }
                }
            }

            .tab {
                cursor: pointer;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 16px;
                    color: #565656;
                }

                svg {
                    width: 5px;

                    path {
                        stroke: #707070;
                    }
                }
            }
        }
    }


}

main.reviews-page section.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 55px;

    @media screen and (max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
}

main.notifications-page section.notifications {

    .checkbox-component {
        margin-bottom: 10px;
    }

    .confirm-button {
        margin-top: 20px;
        max-width: 250px;
    }

    @media screen and (max-width: 425px) {
        .confirm-button {
            max-width: 100%;
        }
    }
}

main.change-password-page section.change-password-page {

    .textfield-row {
        display: flex;

        .space {
            width: 100px;
            flex: 0 0 auto;
        }

        &#old-row {
            width: calc(50% - 50px);
        }
    }

    .confirm-button {
        margin-top: 10px;
        width: 30%;
    }

    @media screen and (max-width: 1336px) {
        margin-right: 100px;
    }

    @media screen and (max-width: 1024px) {
        .textfield-row {
            flex-direction: column;
            width: calc(100% - 16px);

            &#old-row {
                width: calc(100% - 16px);
            }
        }

        .confirm-button {
            width: 100%;
        }
    }

}

main.links-page section.links-page {

    .row {
        width: 100%;
        display: flex;

        &-gap {
            width: 20%;
        }
    }

    .confirm-button {
        margin-top: 20px;
        width: 33%;
    }

    @media screen and (max-width: 425px) {
        .row {
            flex-direction: column;

            &-gap {
                display: none;
            }
        }

        .confirm-button {
            width: 100%;
        }
    }
}

main.settings-page.doctor-page section.doctor {
    .row {
        display: flex;

        .space {
            flex: 0 0 auto;
            width: 100px;
        }
    }

    span#working-days {
        color: #565656;
        font-size: 14px;
    }

    .working-days {
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;

        button.day {
            width: 145px;
            height: 40px;
            background: #E9F7FA;
            border-radius: 7px;
            color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            margin-right: 20px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            transition: 100ms background, 100ms color;

            &.selected {
                background: $primary;
                color: white;
            }

        }
    }

    #price-textfield {
        width: calc(50% - 50px);
        margin-bottom: 3px;

        p.textfield-error {
            display: none;
        }
    }

    #under-price {
        color: #565656;
        font-size: 16px;
    }

    .confirm-button {
        margin-top: 25px;
        width: 270px;
    }

    .working-days_error {
        font-size: 14px;
        color:#ff3b30;
        -webkit-transition:300ms ease-in-out;
        transition:300ms ease-in-out;
        margin-bottom: 10px;
    }
}

