.createSupportPage {
    .row {
        display: flex;
        align-items: flex-end;

        .space {
            width: 100px;
            flex: 00 auto;
        }
    }

    form {
        margin-top: 20px;

        .consultationSelector {
            transition: max-height 300ms, padding-bottom 300ms ease-out;
            overflow-y: hidden;
            max-height: 58px;

            &.hidden {
                max-height: 0px;
            }
        }
    }

    .confirmButton {
        margin-top: 20px;
        max-width: 300px;
    }

    @media screen and (max-width: 768px) {
        .confirmButton {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 960px) {
        .row {
            flex-direction: column;
        }

        .dropdown {
            margin-bottom: 10px;
        }
    }
}
