@import "../../static/theme";

.text-area-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;

    .field {
        font-size: 0.8rem;
        color: #565656;
        margin-bottom: 3px;

        /* Phone */
        @media screen and (max-width: 424px) {
            font-size: 16px;
        }

        /* Tablet */
        @media screen and (max-width: 1025px) and (min-width: 768px) {
            font-size: 16px;
        }

        /* Desktop */
        @media screen and (min-width: 1025px) {
            font-size: 14px;
        }
    }

    textarea {
        text-overflow: ellipsis;
        width: 100%;
        outline: none;
        border: solid 1.15px #CCCCCC;
        border-radius: 5px;
        padding: 12px;
        color: #282828;
        font-size: 14px;
        transition: border 0.25s ease-in-out;


        &::placeholder {
            color: #707070;
        }

        &:focus {
            outline: none !important;
            border: 1.15px solid $primary;
            color: #282828;
        }

        i {
            font-size: 14px;
        }

        /* Phone */
        @media screen and (max-width: 424px) {
            font-size: 16px;
        }


        /* Tablet */
        @media screen and (max-width: 1025px) and (min-width: 768px) {
            font-size: 16px;
            padding: 15px;
            width: 100%;
        }

        /* Desktop */
        @media screen and (min-width: 1025px) {
            font-size: 14px;
        }
    }

    span.error-text {
        margin-top: 2px;
        font-size: 12px;
        color: #ff3b30;
        transition: 300ms ease-in-out;
    }
}