@import "../../styles";
@import "../../../../static/mixins";

.chat-support-page {
    @include supportHeader();

    .messages {
        margin-top: 30px;
        overflow-y: auto;
        height: calc(100vh - 250px);
        @include scroll();
    }

    .message-input {
        margin-top: 20px;
        display: flex;
        width: 100%;

        input {
            background: #F8F8F8;
            border-radius: 10px;
            padding: 10px 20px;
            margin-right: 15px;
            border: none;
            outline: none;
            width: 100%;
            font-size: 16px;

            &::placeholder {
                color: #CCCCCC;
            }
        }

        button {
            width: 38px;
            height: 38px;
            background: $primary;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }

    @media screen and (max-width: 768px) {
        .messages {
            height: calc(100vh - 274px);
        }
    }
}