@import "../../static/theme.scss";
@import "../../static/mixins.scss";

.appointment-module {
    width: 100vw;
    height: 100vh;
    position: fixed;

    .wrapper {
        display: flex;
    }

    .swapper {
        position: relative;
        width: 55vw;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
            width: 100vw;
        }
    }


    .page {
        top: 0;
        width: 55vw;
        position: absolute;
        transition: 1s;

        &.minus55 {
            transform: translateX(-55vw);

            @media screen and (max-width: 1024px) {
                transform: translateX(-100vw);
            }
        }

        .form {
            display: flex;
            flex-direction: row;

            /* Tablets & Phone */
            @media screen and (max-width: 424px) {
                flex-direction: column;
            }
        }

        .form-column {
            width: calc(50vw / 2 - 75px);
            max-width: 300px;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: start;

            /* Tablet */
            @media screen and (min-width: 424px) and (max-width: 1025px) {
                width: 50vw;
                align-items: start;
            }

            /* Phones */
            @media screen and (max-width: 424px) {
                width: 100%;
                margin-right: 0;
                max-width: 100%;
                justify-content: center;
            }
        }


        .confirm-button {
            width: 50%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        .documents {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .new-document-button {
                position: relative;

                button {
                    width: 35px;
                    height: 35px;
                    border-radius: 5px;
                    background: #F5F5F5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    cursor: pointer;
                    transition: background 300ms;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                input {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 35px;
                    height: 35px;
                    opacity: 0;


                }

                input[type=file]::-webkit-file-upload-button {
                    cursor: pointer;
                }

            }

            .document-button {
                margin: 5px 0;
                padding: 7px;
                border-radius: 5px;
                background: #F5F5F5;
                display: flex;
                margin-right: 10px;

                .info {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;

                    span.title {
                        font-weight: 500;
                        color: #282828;
                        font-size: 14px;
                    }

                    span.subtitle {
                        color: #707070;
                        font-size: 12px;
                    }
                }

                .icon {
                    cursor: pointer;
                }

                svg:last-child {
                    margin-left: 15px;
                    width: 10px;
                    height: 10px;

                    path {
                        fill: #30B9D6;
                    }

                }
            }
        }

    }

    .page-1 {
        left: 0;

        @media screen and (min-width: 1024px) {

            /* subtitle */
            .sc-AxiKw.hbiIpe {
                width: 85%;
            }
        }

        .calendar-wrapper {
            position: absolute;
            bottom: calc(50vh - 150px);
            right: 53%;
            pointer-events: none;

            /* Tablets */
            @media screen and (min-width: 424px) and (max-width: 1024px) {
                top: calc(50% - 180px);
                bottom: 0;
                right: 0;
                left: 0;
            }

            /* Phones */
            @media screen and (max-width: 424px) {
                left: 15px;
                right: 15px;
            }
        }
    }

    .page-2 {
        left: 55vw;

        .text-field p {
            color: #565656;
        }

        @media screen and (max-width: 1024px) {
            left: 100vw;
        }

        .textarea-wrapper {
            width: 100%;
            max-width: 600px;

            @media screen and (max-width: 1024px) {
                width: 100%;
                max-width: 100%;
            }
        }

        textarea.symptoms {
            resize: none;
            width: 100%;
            outline: none;
            border: solid 1.15px #ccc;
            border-radius: 5px;
            padding: 12px;

            color: #565656;


            font-size: 14px;
            transition: border 0.25s ease-in-out;


            &::placeholder {
                color: #707070;
            }

            &:focus {
                outline: none !important;

                border: 1.15px solid $primary;

                color: #282828;
            }

            i {
                font-size: 14px;
            }

            /* Phone */
            @media screen and (max-width: 424px) {
                font-size: 16px;
            }


            /* Tablet */
            @media screen and (max-width: 1025px) and (min-width: 768px) {
                font-size: 16px;
                padding: 15px;
                width: 100%;
            }

            /* Desktop */
            @media screen and (min-width: 1025px) {
                font-size: 14px;
            }
        }
    }
}

//========================================================================================
/*                                                                                      *
 *                                     CONSULTATIONS                                    *
 *                                                                                      */
//========================================================================================

.consultation-module {

    position: fixed;
    width: 100vw;
    height: 100vh;

    .wrapper {
        width: 70vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // overflow: hidden;

        video {
            /* Make video to at least 100% wide and tall */
            //min-width: 100%;
            min-height: 100%;

            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            //width: auto;
            //height: auto;

            /* Center the video */
            //position: absolute;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%, -50%);
        }

        .not-connected {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: #f2f2f2;

            h3 {
                font-weight: normal;
                font-size: 24px;
                color: #565656;

            }
        }
    }

    .buttons {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            position: relative;
            width: 52px;
            height: 52px;
            margin: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(black, 0.15);
            backdrop-filter: blur(15px) ;
            cursor: pointer;
            transition: background 150ms ease-in-out;

            &.leave {
                backdrop-filter: none;
                background: #FF3B30;
            }

            .unread-messages {
                position: absolute;
                right: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #30B9D6;
                font-size: 12px;

                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }

            &.active {
                background-color: $primary;
            }

            svg {
                width: 28px;
                height: 28px;
            }

        }
    }

    .user {
        position: absolute;
        left: 16px;
        bottom: 16px;

        &-wrapper {
            position: relative;
        }

        video {
            max-width: 30vw;
            max-height: 30vh;
            border-radius: 10px;
            background: #111111;
        }

        .camera-off {
            max-width: 30vw;
            max-height: 30vh;
            border-radius: 10px;
        }

        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #FF3B30;
            position: absolute;
            right: -10px;
            top: -10px;

            svg {
                cursor: pointer;
                width: 10px;
                height: 10px;
            }
        }

        .micro {
            position: absolute;
            bottom: 10px;
            left: 10px;

            svg {
                width: 24px;
                height: 24px;
                fill: $primary;
            }
        }
    }

    .minimized {
        width: 7vw;
        height: 7vw;
        border-radius: 10px;
        background-color: #ccc;
        background-image: url("https://www.epos-ural.ru/wp-content/uploads/2019/03/user-placeholder.jpg");
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }

    video.hidden {
        display: none;
    }

    .chat {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-color: white;
        width: 30vw;
        padding: 15px 0 15px 15px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: transform 750ms;
        

        header {
            display: flex;
            align-items: center;
            border-bottom: 1px #ccc solid;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: calc(100% - 20px);

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba($color: black, $alpha: 0.1);
                background-size: cover;
                margin-right: 10px;
            }

            span {
                font-size: 16px;

                &#name {
                    color: #282828;
                    margin-right: 10px;
                }

                &#speciality {
                    color: #707070;
                    font-style: italic;
                }
            }


        }

        .messages {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            @include scroll();
            flex-shrink: 0;

            width: 100%;
            height: calc(100% - 105px);

            .block {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &.user-block {
                    align-items: flex-end;
                }

                * {
                    margin-bottom: 12px;
                }

                .avatar {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: rgba($color: black, $alpha: 0.1);
                    background-size: cover;
                }

                .message {
                    display: flex;
                    margin-bottom: 3px;

                    span {
                        padding: 10px;
                        background-color: #F7F7F7;
                        border-radius: 7px;
                        color: #282828;
                        word-wrap: break-word;
                    }
                }
            }

            .connection-message {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px;

                span {
                    font-size: 14px;
                    color: #727272;
                }
            }

        }

        .textfield {
            padding: 10px 0;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: calc(100% - 20px);
            border-top: solid 1px #cccccc;

            .emoji {
                width: 32px;
                height: 32px;
                cursor: pointer;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            input {
                width: calc(100% - 48px);
                border: none;
                outline: none;
                font-size: 16px;
            }

            button#send {
                width: 38px;
                height: 38px;
                margin-left: 10px;
                border-radius: 50%;
                background-color: $primary;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                @include primaryBoxShadow();
                cursor: pointer;
                outline: none;
            }

        }
    }

    @media screen and (max-width: 425px) {
        .wrapper {
            width: 100vw;
        }

        .chat {
            width: 100vw;
            transition: 300ms ease;

            &.off {
                transform: translateY(100vh);
            }
        }

        .buttons {
            margin-bottom: 20px;

            .button {
                margin: 0 10px;
            }
        }

        .back {
            margin-right: 20px;
        }

        .user {
            top: 25px;
            right: 25px;
            left: initial;
            bottom: initial;
            
            .close {
                display: none;
            }

            .micro svg {
                width: 16px;
                height: 16px;
            }

            .micro {
                bottom: 32px;
            }

            .flip {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50%;

                transform: translateY(-15px) translateX(-50%);
            }
        }
    }

}