@import "../../index.scss";

body {
    background: #FAFAFA;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 70vh;
    padding: 30px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba($color: #254E77, $alpha: 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .logo {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        // border: 1px solid #ccc;
        padding: 15px;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    input {
        width: 100%;
        border-radius: 7px;
        border: 1px solid $disable;
        padding: 12px;
        margin: 7px 0;
        transition: border 300ms;

        &::placeholder {
            color: #ccc;
        }

        &:focus {
            border: 1px solid $primary;
            outline: none;
        }
    }



    button {
        cursor: pointer;
        width: 100%;
        border-radius: 7px;
        padding: 12px;
        margin: 7px 0;
        background-color: $primary;
        border: none;
        outline: none;
        color: white;
        font-weight: bold;

        &.bordered {
            border: 1px solid $primary;
            background: transparent;
            color: $primary;
        }
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            width: 47.5%;
        }
    }

    .errors {
        font-size: 14px;
        color: #ff534f;
    }
}

.powered-by {
    position: absolute;
    bottom: 20px;
    color: #ccc;
    font-size: 14px;

    a {
        color: #ccc;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}