@import "../../../../static/theme";

.support-chat-component {
    width: 100%;
    padding: 15px;
    background: white;
    border: 1px solid #E9F7FA;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover svg.long-arrow-icon {
        transform:  translateX(5px);
    }

    svg.long-arrow-icon {
        transition: 300ms ease-in-out;
    }

    .icon {
        background: $primary;
        width: 34px;
        height: 34px;
        border-radius: 7px;
        padding: 5px;
        margin-right: 15px;
    }

    .column {
        width: calc(100% - 48px);

        .space {
            height: 3px;
        }
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            flex: 0 0 auto;
        }
    }

    h5.title {
        margin-right: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        color: #282828;
        font-weight: 400;
    }

    p.last-message {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        color: #B5B5B5;
        margin-right: 15px;
    }

    .information {
        flex: 0 0 auto;

        span.new-message {
            position: relative;
            color: $primary;
            font-size: 13px;
            padding-left: 15px;

            &:before {
                position: absolute;
                left: 0;
                top: 5.5px;
                content: "";
                border-radius: 50%;
                width: 5px;
                height: 5px;
                background: $primary;
            }
        }

        span.number, span.last-message-time {
            padding-left: 20px;
            font-size: 14px;
            color: #B5B5B5;
        }
    }

    @media screen and (max-width: 768px) {
        span.number {
            display: none;
        }
    }

    @media screen and (max-width: 960px) {
        position: relative;

        .column > .space {
            display: none;
        }

        .main-row {
            justify-content: flex-start;
        }

        h5.title {
            margin-right: 0;
            font-size: 16px;
            white-space: initial;
            line-height: 20px;
            max-height: 40px;
        }

        .icon {
            margin-right: 10px;
            width: 28px;
            height: 28px;

            img {
                width: 18px;
                height: 18px;
            }
        }

        span.last-message-time,
        .long-arrow-icon {
            display: none;
        }

        span.new-message {
            text-indent: -9999px;
            display: block;
            position: initial !important;
            padding-left: 0!important;
            height: 0px;

            &:before {
                top: 10px !important;
                right: 10px;
                left: auto !important;
            }
        }

        p.last-message {
            margin-top: 5px;
            margin-right: 0;
        }
    }
}