.create-support-page {
    .row {
        display: flex;

        .space {
            width: 100px;
            flex: 00 auto;
        }
    }

    form {
        margin-top: 20px;
    }

    .confirm-button {
        margin-top: 20px;
        max-width: 300px;
    }

    @media screen and (max-width: 768px) {
        .confirm-button {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 960px) {
        .row {
            flex-direction: column;
        }

        .dropdown {
            margin-bottom: 10px;
        }
    }
}