@import "../../static/mixins.scss";
@import "../../static/theme.scss";


//──── BADGE ─────────────────────────────────────────────────────────────────────────────

.badge-container {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

    .close {
        visibility: hidden;
        position: relative;
        top: 15px;
        right: 25px;
        width: 15px;
        height: 15px;
        z-index: 3;

        svg {
            width: 15px;
            height: 15px;
        }

        &.open:hover {
            visibility: visible;
        }
    }

    .badge {
        cursor: pointer;
        max-width: 600px;
        min-width: 200px;
        max-height: 100px;
        min-height: 40px;

        border-radius: 15px;
        background: white;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 15px;
        box-shadow: 0 3px 23px rgba($color: #000000, $alpha: 0.07);
        margin-left: 10px;

        transition: transform 300ms, opacity 300ms, z-index 300ms;
        transform: scale(0.7, 0.7) translateY(-100%);
        opacity: 0;
        z-index: -1;

        &.open {
            transform: scale(1, 1) translateY(0%);
            opacity: 1;
            z-index: 3;
        }

        .icon {
            background-color: #30B9D6;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;


            img,
            svg {
                width: 60%;
                height: 60%;
            }



        }




        .text {
            width: calc(100% - 85px);

            h3 {
                color: #282828;
                font-weight: 600;
            }

            p {
                color: #565656;
            }
        }



        &:hover~.close {
            visibility: visible;
        }

        @media screen and (max-width: 420px) {
            max-height: 100px;
            min-height: 40px;
            align-items: start;

            .icon {
                width: 40px;
                height: 40px;
            }

            .text {
                width: calc(100% - 55px);

                h3 {
                    color: #282828;
                    font-weight: 600;
                }

                p {
                    color: #565656;
                    font-size: 13px;
                }
            }
        }
    }


}



//========================================================================================
/*                                                                                      *
 *                               Reset Password From Email                              *
 *                                                                                      */
//========================================================================================


section.reset-password-from-email-module {


    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 420px) {
                margin: 0 20px;
            }
        }

        .illustration {
            width: 175px;
            height: 175px;
            border-radius: 25px;
            background: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;

            @include primaryBoxShadow();
        }

        h1 {
            font-size: 28px;
            font-weight: 600;
            color: #282828;
            margin-bottom: 10px;
        }

        p.subtitle {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 30px;
            color: #707070;
            text-align: center;
            max-width: 500px;


        }

        .confirm-button {
            margin-top: 10px;
        }
    }

}