@import "../../static/mixins.scss";
@import "../../static/theme.scss";


//──── BADGE ─────────────────────────────────────────────────────────────────────────────
.badge-container {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100vw;
    height: calc(100% - 15px);
    display: flex;
    justify-content: center;

    .close {
        visibility: hidden;
        position: relative;
        top: 15px;
        right: 25px;
        width: 15px;
        height: 15px;
        z-index: 3;

        svg {
            width: 15px;
            height: 15px;
        }

        &.open:hover {
            visibility: visible;
        }
    }

    .badge {
        cursor: pointer;
        max-width: 600px;
        min-width: 200px;
        max-height: 100px;
        min-height: 40px;

        border-radius: 15px;
        background: white;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 15px;
        box-shadow: 0 3px 23px rgba($color: #000000, $alpha: 0.07);
        // margin-left: 10px;

        transition: transform 300ms, opacity 300ms, z-index 300ms;
        transform: scale(0.7, 0.7) translateY(-100%);
        opacity: 0;
        z-index: -1;

        &.open {
            transform: scale(1, 1) translateY(0%);
            opacity: 1;
            z-index: 3;
        }

        .icon {
            background-color: #30B9D6;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            img,
            svg {
                width: 60%;
                height: 60%;
            }
        }

        .text {
            width: calc(100% - 85px);

            h3 {
                color: #282828;
                font-weight: 600;
            }

            p {
                color: #565656;
            }
        }



        &:hover~.close {
            visibility: visible;
        }

        @media screen and (max-width: 420px) {
            max-height: 100px;
            min-height: 40px;
            align-items: start;
            width: calc(100vw - 32px);


            .icon {
                width: 40px;
                height: 40px;
            }

            .text {
                width: calc(100% - 55px);

                h3 {
                    color: #282828;
                    font-weight: 600;
                }

                p {
                    color: #565656;
                    font-size: 13px;
                }
            }
        }

        &.short {
            pointer-events: none;
            max-height: 65px;
            min-width: 200px;

            .icon {
                width: 40px;
                height: 40px;
            }

            .text {
                width: calc(100% - 40px);
            }

            h3 {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width: 420px) {
        left: 16px;
        right: 16px;
        justify-content: start;
    }
}

//──── PASSWORD ERROR ────────────────────────────────────────────────────────────────────
.password-error {
    max-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

    &.close {
        display: none;
    }

    .icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #FABCC2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EB3540;
        font-weight: bolder;
    }

    span {
        width: calc(100% - 35px);
        font-size: 14px;
        margin-left: 10px;
        color: #EB3540;
        word-wrap: break-word;
    }
}



//========================================================================================
/*                                                                                      *
 *                               Reset Password From Email                              *
 *                                                                                      */
//========================================================================================


section.reset-password-module {
    position: fixed;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40vw;

            @media screen and (max-width: 420px) {
                padding: 0 20px;
                width: calc(100vw - 40px);
            }
        }

        .illustration {
            width: 175px;
            height: 175px;
            border-radius: 25px;
            background: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;

            @include primaryBoxShadow();
        }

        h1 {
            font-size: 28px;
            font-weight: 600;
            color: #282828;
            margin-bottom: 10px;
            text-align: center;

            &#password {
                margin-bottom: 0px;
            }

            @media screen and (max-width: 420px) {
                font-size: 24px;
            }
        }

        p.subtitle {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 30px;
            color: #707070;
            text-align: center;
            max-width: 500px;

            &#password {
                margin-bottom: 15px;
            }
        }

        .password-error {
            margin-top: 10px;
        }

        .text-field {
            margin: 5px 0;
        }

        .confirm-button {
            margin-top: 10px;
        }
    }

}