@import "../../static/mixins.scss";
@import "../../static/theme.scss";

//========================================================================================
/*                                                                                      *
 *                                    Menu                                                    *
 *                                                                                          */
//========================================================================================

menu {
    height: 70px;
    padding: 10px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fefefe;

    @media screen and (min-width: 1920px) {
        padding: 0 calc(50% - 1920px / 2);
    }

    @media screen and (max-width: 425px) {
        padding: 10px 16px;
    }

    .name {
        width: 200px;
        display: flex;
        align-items: center;

        img {
            height: 40px;
        }

        h3 {
            color: #282828;
            margin-left: 15px;
        }
    }

    #menu__toggle:checked~.links {
        visibility: visible;
        right: 0;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        width: 25px;
        height: 25px;
        z-index: 12;
        opacity: 0;
        position: fixed;
        top: 22.5px;
        right: 20px;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: absolute;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 12;
        pointer-events: none;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: "";
        top: -8px;
    }

    .menu__btn>span::after {
        content: "";
        top: 8px;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition: 0.25s;
    }

    .menu__box {
        transition: 300ms;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        z-index: 11;
    }

    @media screen and (min-width: 425px) {

        #menu__toggle,
        .menu__btn,
        .menu__box {
            display: none;
        }
    }

    .links {
        display: flex;
        justify-content: center;

        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 12.5px;
            margin-top: 10px;

            span.link {
                color: #565656;

                &:hover {
                    color: #282828;
                }
            }

            .circle {
                transition: 300ms;
                opacity: 0;
                margin-top: 5px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #30b9d6;
            }

            &.selected {
                span.link {
                    color: #282828;
                    font-weight: 500;
                }

                .circle {
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 425px) {
            z-index: 3;
            position: fixed;
            top: 0;
            right: -100vw;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background: white;
            transition: 500ms;

            .selected .circle {
                width: 10px;
                height: 1px;
                border-radius: 0;
            }
        }
    }

    .profile {
        width: 200px;
    }
}

.doctor-module {
    max-width: 1920px;
    overflow-y: auto;
    overflow-x: hidden;

    @include scroll();

    @media screen and (min-width: 1920px) {
        margin: 0 calc(50% - 1920px / 2);
    }

    //========================================================================================
    /*                                                                                      *
 *                                    DOCTORS WRAPPER                                   *
 *                                                                                      */
    //========================================================================================

    .loading-badge {
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.03);

        &.close {
            display: none;
        }
    }

    .row {
        margin: 0 28px;
        display: flex;
        justify-content: start;

        @media screen and (max-width: 768px) {
            margin: 0;
            flex-direction: column-reverse;
        }
    }

    .doctors-container {
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 10px 0;

        @media screen and (max-width: 768px) {
            width: 100%;
            border: none;
            background: none;
            box-shadow: none;
            padding: 10px 16px;
            max-height: none;
        }

        .infinity-scroll-loading-indicator {
            width: 100%;

            &.close {
                display: none;
            }

            #circleG {
                display: flex;
                justify-content: center;
            }
        }

        @include scroll();

        .doctors-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: calc(100% - 56px);
            row-gap: 15px;
            column-gap: 10px;
            // height: 100%;
            margin: 0 28px;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            @media (max-width: 768px) and (min-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 2560px) and (min-width: 1336px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 3440px) and (min-width: 2560px) {
                grid-template-columns: repeat(4, 1fr);
            }

            .doctor {
                cursor: pointer;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                max-height: 100px;
                // margin-bottom: 30px;

                .image {
                    border-radius: 20px;
                    width: 100px;
                    height: 100px;
                    background-position: center;
                    background-size: cover;
                    margin-right: 15px;
                }

                .rating {
                    margin-top: 5px;

                    svg {
                        margin-right: 5px;
                    }
                }

                .speciality-and-age {
                    color: #565656;
                }
            }
        }
    }

    //========================================================================================
    /*                                                                                      *
 *                                        FILTER                                        *
 *                                                                                      */
    //========================================================================================

    .filter {
        margin-top: 10px;

        .column {
            display: flex;
            flex-direction: column;
            width: calc(100% - 16px);
        }

        .row {
            width: 100%;
            display: flex;
            align-items: center;

            @media screen and (max-width: 1024px) {
                flex-direction: row;
                margin-left: 16px;
                width: calc(100% - 16px);
            }
        }

        .search {
            display: flex;
            align-items: center;
            width: calc(100% - 410px);
            position: relative;

            @media screen and (max-width: 1024px) {
                width: calc(100% - 42px);
            }

            input {
                width: 100%;
                height: 48px;
                border-radius: 7.5px;
                border: 1.2px solid #e8e8e8;
                padding: 15px;
                outline: none;
                transition: border-color 225ms ease;

                &:focus {
                    border-color: #30b9d6;
                }
            }

            input:focus~svg path {
                stroke: #30b9d6;
            }

            svg {
                padding: 5px;
                position: absolute;
                right: 10px;
                cursor: pointer;

                path {
                    transition: stroke 225ms ease;
                    stroke: #ccc;
                }
            }
        }

        .sort-by {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30px;

            @media screen and (max-width: 1024px) {
                display: none;
            }

            #sort-by__title {
                color: #707070;
                font-size: 16px;
                margin-right: 10px;
            }

            .selector {
                display: flex;
                align-items: center;
                color: white;
                padding: 0 20px;
                height: 42px;
                background: $primary;
                border-radius: 10px;
                cursor: pointer;

                @media screen and (min-width: 1024px) {
                    @include primaryBoxShadow();
                }

                svg {
                    padding: 1px;
                    margin-left: 5px;
                }
            }
        }

        .downward-upward {
            width: 42px;
            height: 42px;
            background: $primary;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            margin-left: 20px;

            @media screen and (min-width: 1024px) {
                @include primaryBoxShadow();
            }

            @media screen and (max-width: 1024px) {
                margin-left: 10px;
            }

            .stick {
                transition: width 350ms;
                border-radius: 1px;
                height: 3px;
                background: white;
                width: 100%;

                &#stick-top {
                    width: 35%;
                }

                &#stick-centre {
                    margin: 7px 0;
                    width: 70%;
                }
            }

            &.upward {
                .stick#stick-top {
                    width: 100%;
                }

                .stick#stick-centre {
                    width: 70%;
                }

                .stick#stick-bottom {
                    width: 35%;
                }
            }
        }

        .other {
            display: flex;
            margin: 10px 28px;

            .mobile-collapsed {
                display: none;
            }

            .item {
                margin-right: 20px;
                z-index: 10;

                .title {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 8px 20px;
                    border: 1.2px solid #e8e8e8;
                    border-radius: 7.5px;
                    cursor: pointer;

                    h5 {
                        color: #707070;
                        font-size: 14px;
                        font-weight: 400;
                        margin-right: 10px;
                        pointer-events: none;
                    }

                    svg {
                        transition: transform 300ms;
                        display: inline;
                        padding: 3px;
                        transform: rotate(90deg);

                        &.open {
                            transform: rotate(0deg);
                        }
                    }

                    &#city {
                        height: 40.64px;
                    }

                    &#rating~.collapsed {
                        margin-left: -110px;
                    }
                }

                &.active {
                    .title {
                        color: white;
                        border: 1.2px solid $primary;
                        background: $primary;
                    }

                    svg {
                        path {
                            stroke: rgba($color: white, $alpha: 0.75);
                        }
                    }
                }

                .collapsed {
                    position: absolute;
                    display: block;
                    margin-top: 5px;
                    background: white;
                    border-radius: 5px;
                    padding: 12.5px;
                    box-shadow: 0 3px 11px rgba($color: #313131, $alpha: 0.1);
                    transition: opacity 150ms;
                    opacity: 0;
                    z-index: 10;
                    pointer-events: none;

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                    }

                    //──── RATING COMPONENT ──────────────────────────────────────────────────────────────────
                    .rating-item {
                        margin: 3px 0;
                        display: flex;
                        align-items: center;

                        label {
                            margin-right: 10px;
                        }

                        svg {
                            margin-right: 5px;
                        }

                        span.amount {
                            color: #707070;
                            margin-left: 15px;
                        }
                    }
                }
            }

            @media screen and (max-width: 1024px) {
                flex-direction: column;
                margin: 0;
                margin-left: 16px;
                margin-top: 10px;

                .item {
                    width: 100%;
                    margin-right: 0;

                    &#mobile-filters {
                        // padding: 2px;
                        border-radius: 5px;
                        border: 1.2px solid #e8e8e8;

                        .title {
                            border-left: none;
                            border-right: none;
                            border-top: none;
                            border-bottom: none;
                        }

                        &.open>.title {
                            border-bottom: 1.2px solid #e8e8e8 !important;
                        }
                    }

                    &.open {
                        .title {
                            border-left: none;
                            border-right: none;
                            border-top: 1.2px solid #e8e8e8;
                            border-bottom: 1.2px solid #e8e8e8;
                        }
                    }

                    .title {
                        justify-content: center;
                        padding: 8px;
                        border-radius: 0;

                        &#rating~.collapsed {
                            margin-left: 0;
                        }
                    }

                    &:not(#mobile-filters) {
                        .collapsed {
                            padding: 10px 20px;
                        }

                        &.open {
                            border-bottom: 1.2px solid #e8e8e8 !important;
                        }

                        &.open>.title {
                            border-bottom: 1.2px solid #e8e8e8 !important;
                        }
                    }

                    .collapsed {
                        width: calc(100% - 32px);
                        box-shadow: none;
                        padding: 0;

                        &.active {
                            position: initial;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//──── ADD CITY MODAL ────────────────────────────────────────────────────────────────────
.city-add-modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 300ms;

    &.close {
        pointer-events: none;
        opacity: 0;
    }

    .city-add-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45%;
        min-width: 30%;
        padding: 30px;
        border-radius: 10px;
        background-color: white;
        opacity: 1;
        transition: 300ms;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 425px) {
            width: 100%;
            max-width: 90%;
            min-width: 50%;
            padding: 15px;
        }

        &.close {
            transform: scale(0, 0);
            opacity: 0;
        }

        h1 {
            font-size: 24px;
            font-weight: 600;
            color: #222222;
            margin-bottom: 15px;
        }

        .selected {
            width: 100%;
            justify-content: center;
            display: flex;
            padding-bottom: 5px;
            margin-bottom: 5px;
            // box-shadow: 0 1px 0 #ccc;
            flex-wrap: wrap;

            .tile {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                border-radius: 100px;
                background: #30b9d6;
                margin-right: 10px;
                margin-bottom: 5px;

                span.city {
                    color: white;
                    margin-right: 10px;
                }

                svg {
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .add {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1.2px solid #ccc;
                outline: none;
                transition: 300ms;

                &:focus {
                    border: 1.2px solid #30b9d6;
                }
            }

            input:focus~.icon svg path {
                stroke: #30b9d6;
            }

            .icon {
                margin-right: 10px;
                position: absolute;

                svg {
                    width: 15px;
                    height: 15px;

                    path {
                        transition: 300ms;
                        stroke: #ccc;
                    }
                }
            }
        }

        .autocomplete {
            margin-top: 10px;
            width: 100%;
            height: 200px;
            border-radius: 5px;
            border: 1.2px solid #ccc;
            overflow: hidden;
            padding: 0;
            overflow-y: auto;

            .tile {
                cursor: pointer;
                width: 100%;
                padding: 10px;

                &:hover {
                    color: white;
                    background-color: #30b9d6;
                }
            }
        }

        .buttons {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            button {
                padding: 10px 25px;
                border-radius: 7px;
                border: none;
                cursor: pointer;
                outline: none;

                &#cancel {
                    border: 1.2px solid #30b9d6;
                    color: #30b9d6;
                    background: none;
                }

                &#submit {
                    transition: 300ms;
                    background-color: #30b9d6;
                    color: white;
                    box-shadow: 0 3px 3px rgba($color: #30b9d6, $alpha: 0.2);

                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

//========================================================================================
/*                                                                                      *
 *                                        DETAIL                                        *
 *                                                                                      */
//========================================================================================

.detail-doctor-module {
    background: #fefefe;
    margin-bottom: 20px;
    min-height: 100vh;
    width: 100%;

    @media screen and (min-width: 1921px) {
        padding: 0 calc(50% - 1920px / 2);
    }

    .title {
        .stick {
            height: 18px;
            width: 2.5px;
        }

        h1 {
            font-size: 18px;
            font-weight: 500;
        }

        @media screen and (max-width: 425px) {

            display: flex;
            justify-content: center;
            margin-top: 30px;

            .stick {
                height: 24px;
                width: 3px;
                display: none;
            }

            h1 {
                font-size: 22px;
                font-weight: 500;
            }
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 28px;



        .profile-image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 175px;
            width: 175px;
            border-radius: 15px;
            margin-right: 20px;

        }

        h1 {
            display: flex;
            align-items: center;
            font-size: 28px;
            color: #1e1e1e;
            font-weight: 600;
            margin-bottom: 3px;

            svg {
                cursor: pointer;
                margin-left: 20px;
            }
        }

        .information {
            width: calc(100% - 361px);

            ul {
                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
            }

            li {
                margin: 3px 0;
                list-style-type: none;

                span {
                    color: #565656;
                }

                span.name {
                    font-weight: 500;
                    margin-right: 5px;
                }
            }
        }

        .rating {
            svg {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
        }

        button#consultation-signup {
            height: 35px;
            padding: 0 25px;
            border-radius: 5px;
            font-size: 16px;
            border: none;
            background: $primary;
            color: white;
            @include primaryBoxShadow();
            cursor: pointer;
            transition: 300ms box-shadow;
            outline: none;

            &:hover {
                box-shadow: none;
            }
        }

        @media screen and (max-width: 640px) {
            margin: 0;
            padding: 10px 16px;
            flex-direction: column;
            align-items: center;

            .profile-image {
                margin: 0;
                width: calc(100vw - 32px);
                height: calc(100vw - 32px);
            }

            .information {
                display: flex;
                flex-direction: column;
                width: 100%;


                h1 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    font-size: 32px;
                }

            }

            button {
                margin-top: 10px;
                width: 100%;
            }
        }
    }

    .title {
        margin-bottom: 10px;
    }

    .selector {
        margin: 0 28px;
        margin-top: 10px;

        .week-selector {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background: #f2f2f2;
            width: 160px;
            border-radius: 5px;
            margin-bottom: 15px;

            svg {
                padding: 3px;
                cursor: pointer;

                &:hover {
                    path {
                        stroke: #1e1e1e;
                    }
                }

                path {
                    stroke: #565656;
                }

                &#left {
                    transform: rotate(180deg);
                }
            }

            span#data {
                display: flex;
                justify-content: center;
                width: 105px;
                margin: 0 5px;
                user-select: none;
            }


        }

        .day-row {
            display: flex;
            align-items: start;
            margin-top: 5px;

            .day-name {
                display: flex;
                align-items: center;
                height: 28px;
                font-size: 18px;
                font-weight: 500;
                margin-right: 15px;
                width: 30px;
            }

            .weekend {
                display: flex;
                align-items: center;
                height: 28px;
                font-size: 18px;
                color: #565656;
                font-style: italic;
            }

            .times {
                display: flex;
                flex-wrap: wrap;

                .time {
                    margin-bottom: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 28px;
                    width: 70px;
                    background: #e8e8e8;
                    color: #707070;
                    margin-right: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    max-width: calc(100vw - 99px);

                    &:hover {
                        background: #e0e0e0;
                    }

                    &.occupied {
                        color: white;
                        background: $primary;
                        cursor: initial;
                    }

                    &.x2 {
                        width: 150px;
                    }

                    &.x3 {
                        width: 230px;
                    }

                    &.x4 {
                        width: 310px;
                    }

                    &.x5 {
                        width: 390px;
                    }

                    &.x6 {
                        width: 470px;
                    }

                    &.x7 {
                        width: 550px;
                    }

                    &.x8 {
                        width: 630px;
                    }

                    &.x10 {
                        width: 710px;
                    }

                    &.x11 {
                        width: 790px;
                    }

                    &.x12 {
                        width: 870px;
                    }
                }
            }
        }

        @media screen and (max-width: 425px) {
            margin: 0 16px;

            .week-selector {
                width: 100%;
                justify-content: space-between;
                padding: 10px 15px;

                svg {
                    padding: 2px;
                }

                span#data {
                    width: 100%;
                    font-size: 18px;
                }
            }

            .day-row {

                flex-direction: column;

                .times {
                    width: 100%;
                    justify-content: space-between;

                    .time {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .reviews-component {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        width: calc(100%);
        padding: 0 28px;
        padding-bottom: 25px;

        .title {
            margin-bottom: 15px;
        }

        span.load-more {
            margin-top: 45px;
            color: $primary;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .reviews {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            width: 100%;
            column-gap: 50px;
            row-gap: 50px;

            .review {
                padding: 15px;
                box-shadow: 0 0 27px rgba($color: #000000, $alpha: 0.02);
                background: white;
                border-radius: 10px;
                flex-shrink: 0;

                .header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    .photo {
                        width: 45px;
                        height: 45px;
                        background-size: cover;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .fullname {
                        display: flex;
                        flex-direction: column;

                        span.name {
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 3px;
                        }

                        .underline {
                            width: 45px;
                            height: 3.5px;
                            border-radius: 3px;
                            background: $primary;
                        }
                    }
                }

                p.text {
                    color: #565656;
                }

                .rating {
                    margin-top: 10px;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        @media screen and (max-width: 425px) {
            padding: 0 16px;

            .reviews {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @media screen and (min-width: 1336px) {
            .reviews {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

//========================================================================================
/*                                                                                      *
 *                                    Symptoms                                               *
 *                                                                                          */
//========================================================================================

.symptoms-title-wrap {
    text-align: center;

    h1 {
        font-size: 48px;
        color: #1e1e1e;
        font-weight: 600;
        line-height: 64px;

        i {
            color: $primary;
        }
    }

    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #ccc;
    }

    @media screen and (max-height: 940px) {
        h1 {
            font-size: 42px;
            color: #1e1e1e;
            font-weight: 600;
            line-height: 56px;

            i {
                color: $primary;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #ccc;
        }
    }

    margin-bottom: 26px;
}

.symptoms-main-container {
    width: 1158px;
    height: 690px;
    margin: 0 auto;
    @media screen and (max-height: 940px) {
        width: 1075px;
        height: 582px;
    }
}

.symptoms-but-wrapper {
    display: flex;
    justify-content: center;
}

.symptoms-but {
    margin: 52px auto;
    width: 300px;
    height: 60px;

    div {
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
    }

    p {
        height: auto;
    }
}
.tabs-wrapper{
    width: 531px;
    height: 690px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    @media screen and (max-height: 940px) {
        width: 448px;
        height: 582px;
    }
}
.tabs-ui-container{
    margin: 24px 31px 22px 27px;
    position: relative;
    color: yellow;
    height: -webkit-fill-available;
    @media screen and (max-height: 940px) {
        margin: 20px 27px 18px 23px;
    } 
}
.symptoms-tab{
    position: absolute;
    bottom: 0;
    left: -6px;
}
.tab-links{
    width: 39px;
    height: 39px;
    background-color: #ccc;
    color:#fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    @media screen and (max-height: 940px) {
        font-size: 13px;
        width: 32px;
        height: 32px;
    }
}
.tab-1{
    margin-left: 13px !important;
    @media screen and (max-height: 940px) {
        margin-left: 11px !important;
    }
}
.tab-active{
    background-color: $primary;
}
.tab-content{
    height: 644px;
    width: 473px;
    @media screen and (max-height: 940px) {
        width: 399px;
        height: 544px;
    }
}
.tab-content-img-wrap{
    display: flex;
    justify-content: space-between;
}
.fake-img{
    height: 644px;
    background-color: red;
    @media screen and (max-height: 940px) {
        height: 544px;
    }
}

.img-1{
    width: 254px;
    @media screen and (max-height: 940px) {
        width: 214px;
    }
}
.img-2{
    width: 177px;
    @media screen and (max-height: 940px) {
        width: 150px;
    }
}
.symptoms-tab{
    list-style: none;
    display: flex;
    .tab-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.choice-wrapper,.tabs-wrapper{
    display: inline-block;
}
.choice-wrapper{
    width: 562px;
    height: 100%;
    background-color: red;
    float: right;
    @media screen and (max-height: 940px) {
        width: 560px;
        height: 100%;
    }
    .search {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        input {
            width: 100%;
            height: 58px;
            border: none;
            border-radius: 7.5px;
            background-color: #F7F7F7;
            color: #CCCCCC;
            padding: 15px;
            outline: none;
            font-size: 16px;
            transition: color 225ms ease;
            &::placeholder{
                color:#ccc;
            }
            ~svg {
                padding: 5px;
                position: absolute;
                right: 10px;
                cursor: pointer;
                path{
                    transition: stroke 225ms ease;
                    stroke: #cccccc;
                }
            }
            &:focus {
                color: #282828;
            }
            &:focus~svg path {
                stroke: #282828;
            }
        }
    }
}

