@import "../../static/theme.scss";
//@import "../../static/theme.scss";

menu {
    width: calc(100% - 56px);
    height: 70px;
    padding: 10px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fefefe;

    @media screen and (min-width: 1440px) {
        padding: 10px 16px;
        margin: 0 auto;
        max-width: 1440px;
    }

    @media screen and (max-width: 425px) {
        padding: 10px 16px;
    }

    .name {
        width: 250px;
        display: flex;
        align-items: center;

        img {
            height: 40px;
        }

        h3 {
            color: #282828;
            margin-left: 15px;
        }
    }

    #menu__toggle:checked~.links {
        visibility: visible;
        right: 0;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        width: 25px;
        height: 25px;
        z-index: 12;
        opacity: 0;
        position: fixed;
        top: 22.5px;
        right: 20px;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: absolute;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 12;
        pointer-events: none;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: "";
        top: -8px;
    }

    .menu__btn>span::after {
        content: "";
        top: 8px;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition: 0.25s;
    }

    .menu__box {
        transition: 300ms;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        z-index: 11;
    }

    @media screen and (min-width: 1024px) {

        #menu__toggle,
        .menu__btn,
        .menu__box {
            display: none;
        }
    }

    .links {
        display: flex;
        justify-content: center;

        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 12.5px;
            margin-top: 10px;

            span.link {
                color: #565656;

                &:hover {
                    color: #282828;
                }
            }

            .circle {
                transition: 300ms;
                opacity: 0;
                margin-top: 5px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #30b9d6;
            }

            &.selected {
                span.link {
                    color: #282828;
                    font-weight: 500;
                }

                .circle {
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            z-index: 3;
            position: fixed;
            top: 0;
            right: -100vw;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background: white;
            transition: 500ms;

            .selected .circle {
                width: 10px;
                height: 1px;
                border-radius: 0;
            }
        }
    }

    .profile {
        cursor: pointer;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: flex-end;

        .photo {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #cccccc;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
        }

        span {
            color: #282828;
        }
    }

    .auth {
        display: flex;
        max-width: 250px;
        min-width: 200px;
        align-items: center;
        justify-content: flex-end;

        button {
            padding: 0 25px;
            height: 35px;
            background: $primary;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            color: white;
            font-size: 16px;
            outline: none;
            transition: 0.3s;

            &.signup:hover {
                background-color: #2CC3E3;
                box-shadow: 0px 3px 5px rgba(48,185,215,0.4);
            }

            &.login {
                background: #E9F7FA;
                color: $primary;
                margin-right: 10px;

                &:hover {
                    background: #dfeff1;
                }
            }
        }
    }
}