ul{
    list-style: none;
}
li{
    cursor: pointer;
}
.footer{
    width: 1486px;
    height: 235px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
    .footer-1cl{
        .footer__logo{
            text-decoration: none;
            .name{
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                    height: 60px;
                }
                h3{
                    color: #282828;
                    margin-left: 15px;
                }
            }
        }
        .copyright{
            font-size: 20px;
            line-height: 32px;
            color: #565656;
            margin-top: 17px;
        }
    }
    .footer-2cl{
        margin-left: 58px;
        margin-top: 10px;
    }
    .footer-3cl{
        margin-left: 64px;
        margin-top: 10px;
    }
    .footer-4cl{
        margin-left: 64px;
        margin-top: 10px;
    }
    .footer-5cl{
        margin-left: 74px;
        margin-top: 10px;
    }
}

.footer__link-list{
    .list-title{
        font-size: 20px;
        line-height: 43px;
        font-weight: 500;
        color: #282828;
    }
    li:not(.list-title){
        font-size: 16px;
        line-height: 37px;
        color: #565656;
        font-weight: 400;
        &:hover{
            color: #282828;
        }
    }
}
.socials{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 174px;
    width: 276px;
    .social-link{
        width: 62px;
        height: 62px;
        margin-right: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        background-color: #30B9D6;
        align-items: center;
        transition: 0.3s;
        &:hover{
            background-color: #fff;
            svg{
                path{
                    fill: #30B9D6;
                }   
            }
        }
        svg{
            path{
                transition: 0.3s;
            }  
        }
    }
    .social-link:nth-child(even):not(.info) {
        margin-top: 25px;
    }
}