//──── TITLE ─────────────────────────────────────────────────────────────────────────────
.title {
    margin-top: 20px;

    display: flex;
    align-items: center;

    .stick {
        width: 4px;
        height: 24px;
        background-color: #30B9D6;
    }

    h1 {
        margin-left: 5px;
        font-size: 24px;
    }

}