@import "../../index.scss";

//──── Topbar ────────────────────────────────────────────────────────────────────────────
section#topbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    .mainRow {
        display: flex;
        width: 100%;
        height: 36px;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;

        .actions {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 100%;

            button {
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 7px;
                transition: 300ms;
                margin-left: 10px;

                &:focus {
                    border: 0.5px solid $primary;
                    transform: translateY(-1px);
                }
            }

            button.square {
                width: 2.5vw;
                height: 2.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 300ms;
                background-color: rgba($color: $disable, $alpha: 0.09);

                svg {
                    fill: $primary;
                }

                &:hover {
                    background-color: $disable;
                }

                &.active {
                    background-color: $primary;

                    svg {
                        fill: white;
                    }
                }
            }

            button.wide {
                height: 100%;
                padding: 0 17px;
                background-color: $disable;
                display: flex;
                justify-content: center;
                align-items: center;

                &#add {
                    background: $primary;
                    color: white;
                    box-shadow: 0 5px 12px rgba($color: $primary, $alpha: 0.36);

                    &:hover {
                        transform: translateY(-2px);
                    }
                }

                &#popularity {
                    background: $disable;
                    color: $primary;
                    fill: $primary;

                    &:hover {
                        transform: translateY(-2px);
                    }
                }

                svg {
                    margin-right: 10px;
                }
            }

            .divider {
                margin-left: 20px;
                margin-right: 10px;
                width: 1.5px;
                height: 75%;
                background: $disable;
            }
        }

        h1 {
            font-size: 28px;
            color: #282828;
        }
    }

    .underline {
        width: 100%;
        height: 1.5px;
        background: $disable;
    }
}

//──── List ──────────────────────────────────────────────────────────────────────────────

.index {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 7px;
    background: $disable;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.short {
    height: 2.5vw;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

@mixin button {
    height: 36px;
    padding: 0 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    transition: 200ms;


}

@mixin buttons {
    display: flex;
    justify-content: flex-end;

    button {
        @include button();
    }

    button#submit {
        background: $primary;
        color: white;
    }

    button#remove {
        background: $disable;
        color: $primary;
    }
}

button#bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11px;
    width: 36px;
    background: $disable;
}



.list {
    max-height: calc(100vh - 77px);
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    width: 100%;



    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 60px - 2.5vw);
        margin-left: 20px;
        overflow: hidden;



        .collapsed {
            transition: 300ms ease;
            max-height: 0px;

            &.open {
                max-height: 100vh;
            }
        }

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .column {
                width: calc(50% - 20px);

                .row {
                    margin: 7px 0;
                    // box-shadow: 0 1px 0 #ccc;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .field {
                        font-weight: 500;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;

            button {
                @include button();
            }

            button#submit {
                background: $primary;
                color: white;
            }

            button#remove {
                background: $disable;
                color: $primary;
            }


        }
    }

    button#collapse {
        margin-left: 20px;
        background: none;
        border: none;
        height: 30px;
        width: 30px;
        transition: 300ms;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        transform: rotate(0deg);

        &.open {
            transform: rotate(90deg);
        }
    }
}

//──── Grid ──────────────────────────────────────────────────────────────────────────────
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    margin: 20px 0;
    padding: 10px;
    background: white;
    max-width: 90%;
    border-radius: 10px;

    button {
        @include button();
    }

    .uprow {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;

            .short {
                margin-left: 10px;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;


        .row {
            margin: 7px 0;
            // box-shadow: 0 1px 0 #ccc;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .field {
                font-weight: 500;
            }

            .value {
                text-align: end;
            }
        }

    }

    .buttons {
        margin-top: 10px;
        @include buttons();
    }
}

//──── No Data ───────────────────────────────────────────────────────────────────────────

.view {
    height: 100%;
}

.page {
    height: 100%;
    width: 100%;

    .no-data {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 22.5%;
        }

        span {
            color: #282828;
            margin-top: 20px;
            font-size: 16px;
        }
    }
}


//──── REMOVE REQUEST MODAL WINDOW ───────────────────────────────────────────────────────
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms;

    z-index: 10;

    &.close {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0.3, 0.3);
            opacity: 0;
        }
    }

    .modal {
        width: 35vw;
        height: 55vh;
        // max-width: 15%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.1);
        transition: 300ms;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;

        h1 {
            text-align: center;
            color: #282828;
            margin-bottom: 15px;
            font-weight: 500;
        }

        p {
            text-align: center;
            justify-content: center;
            color: #565656;
            margin-bottom: 30px;
        }

        .buttons {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                margin: 0 20px;
                padding: 12.5px;
                width: 50%;
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 16px;
                cursor: pointer;



                &#remove {
                    background: none;
                    border: 1.5px solid #ff534f;
                    color: #ff534f;
                    transition: 250ms box-shadow;


                    &:hover {
                        box-shadow: 0px 0px 15px rgba($color: #ff534f, $alpha: 0.10);
                        // background-color: #ff534f;
                        // color: white;
                    }
                }

                &#undo {
                    transition: 400ms box-shadow;
                    background-color: $primary;
                    color: white;

                    &:hover {
                        box-shadow: 0px 5px 15px rgba($color: $primary, $alpha: 0.25);
                    }
                }



            }
        }
    }
}