@font-face {
    font-family: "Inter";
    src: local("FiraSans"), url(./fonts/INTER-REGULAR.TTF) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("FiraSans"), url(./fonts/INTER-MEDIUM.TTF) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("FiraSans"), url(./fonts/INTER-SEMIBOLD.TTF) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("FiraSans"), url(./fonts/INTER-BOLD.TTF) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
/* 
#root {
    margin: 0 calc(50% - 1920px / 2);
    max-width: 1920px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
}

@media screen and (max-width: 768px) {
    body,
    html {
        overflow-y: scroll;
    }
}

* ::selection {
    background: #30b9d6;
    color: white;
}

a {
    text-decoration: none;
}

span.link {
    color: #30b9d6;
}

span.link :hover {
    text-decoration: underline;
}
